body {
    font-family: "Gill Sans", sans-serif;
    width:50%;
    margin:auto;
}
.d-none {
    display:none;
}
blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}
a.button{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
}
a.button:hover{
    background-color:#4095c6;
}
    @media all and (max-width:30em){
    a.button{
    display:block;
    margin:0.2em auto;
    }
}